<html>
	<head>
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div id = "MainDiv">
			Email Id: <input type="text" id="username"><br>
			Password: <input type="password" id="password"><br>
			First Name: <input type="text" id="firstName"><br>
			Last Name: <input type="text" id="lastName"><br>
			Phone Number: <input type="text" id="phoneNumber"><br>
			Date Of Birth: <input type="text" id="dateOfBirth"><br>
			Gender: <input type="text" id="gender"><br>
			<input type="button" value="Sign In" onclick="signup()">
			<br/>
			OR
			<br/>
			Login <a onclick="loadLogin()">here</a>
		</div>
	</body>
</html>